Countries of the World

In [2]:
#Country names linked to region, population, area size, GDP, mortality and more

In [3]:
#import modules
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [4]:
#import dataset
world = pd.read_csv("world.csv")

In [6]:
world

,country,region,population,area_sq_mi,pop_density_per_sq_mi,coastline_coastarea_ratio,net_migration,infant_mortality_per_1000_births,gdp_$_per_capita,literacy,phones_per_1000,arable,crops,other,climate,birthrate,deathrate,agriculture,industry,service
0,Afghanistan,ASIA (EX. NEAR EAST),31056997,647500,"48,0","0,00","23,06","163,07",700.0,"36,0","3,2","12,13","0,22","87,65",1,"46,6","20,34","0,38","0,24","0,38"
1,Albania,EASTERN EUROPE,3581655,28748,"124,6","1,26","-4,93","21,52",4500.0,"86,5","71,2","21,09","4,42","74,49",3,"15,11","5,22","0,232","0,188","0,579"
2,Algeria,NORTHERN AFRICA,32930091,2381740,"13,8","0,04","-0,39",31,6000.0,"70,0","78,1","3,22","0,25","96,53",1,"17,14","4,61","0,101","0,6","0,298"
3,American Samoa,OCEANIA,57794,199,"290,4","58,29","-20,71","9,27",8000.0,"97,0","259,5",10,15,75,2,"22,46","3,27",NaN,NaN,NaN
4,Andorra,WESTERN EUROPE,71201,468,"152,1","0,00","6,6","4,05",19000.0,"100,0","497,2","2,22",0,"97,78",3,"8,71","6,25",NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
222,West Bank,NEAR EAST,2460492,5860,"419,9","0,00","2,98","19,62",800.0,NaN,"145,2","16,9","18,97","64,13",3,"31,67","3,92","0,09","0,28","0,63"
223,Western Sahara,NORTHERN AFRICA,273008,266000,"1,0","0,42",NaN,NaN,NaN,NaN,NaN,"0,02",0,"99,98",1,NaN,NaN,NaN,NaN,"0,4"
224,Yemen,NEAR EAST,21456188,527970,"40,6","0,36",0,"61,5",800.0,"50,2","37,2","2,78","0,24","96,98",1,"42,89","8,3","0,135","0,472","0,393"
225,Zambia,SUB-SAHARAN AFRICA,11502010,752614,"15,3","0,00",0,"88,29",800.0,"80,6","8,2","7,08","0,03","92,9",2,41,"19,93","0,22","0,29","0,489"
226,Zimbabwe,SUB-SAHARAN AFRICA,12236805,390580,"31,3","0,00",0,"67,69",1900.0,"90,7","26,8","8,32","0,34","91,34",2,"28,01","21,84","0,179","0,243","0,579"

## Task 2: Data Manipulation

In [7]:
type(world)#Check the type of variable worl

pandas.core.frame.DataFrame

In [8]:
world.shape#Number of rows and columns in our dataset

(227, 20)

In [9]:
world.head()#View the first five and first ten rows

,country,region,population,area_sq_mi,pop_density_per_sq_mi,coastline_coastarea_ratio,net_migration,infant_mortality_per_1000_births,gdp_$_per_capita,literacy,phones_per_1000,arable,crops,other,climate,birthrate,deathrate,agriculture,industry,service
0,Afghanistan,ASIA (EX. NEAR EAST),31056997,647500,"48,0","0,00","23,06","163,07",700.0,"36,0","3,2","12,13","0,22","87,65",1,"46,6","20,34","0,38","0,24","0,38"
1,Albania,EASTERN EUROPE,3581655,28748,"124,6","1,26","-4,93","21,52",4500.0,"86,5","71,2","21,09","4,42","74,49",3,"15,11","5,22","0,232","0,188","0,579"
2,Algeria,NORTHERN AFRICA,32930091,2381740,"13,8","0,04","-0,39",31,6000.0,"70,0","78,1","3,22","0,25","96,53",1,"17,14","4,61","0,101","0,6","0,298"
3,American Samoa,OCEANIA,57794,199,"290,4","58,29","-20,71","9,27",8000.0,"97,0","259,5",10,15,75,2,"22,46","3,27",NaN,NaN,NaN
4,Andorra,WESTERN EUROPE,71201,468,"152,1","0,00","6,6","4,05",19000.0,"100,0","497,2","2,22",0,"97,78",3,"8,71","6,25",NaN,NaN,NaN

In [10]:
world.tail()#View the last fiveritish and last ten rows

,country,region,population,area_sq_mi,pop_density_per_sq_mi,coastline_coastarea_ratio,net_migration,infant_mortality_per_1000_births,gdp_$_per_capita,literacy,phones_per_1000,arable,crops,other,climate,birthrate,deathrate,agriculture,industry,service
222,West Bank,NEAR EAST,2460492,5860,"419,9","0,00","2,98","19,62",800.0,NaN,"145,2","16,9","18,97","64,13",3,"31,67","3,92","0,09","0,28","0,63"
223,Western Sahara,NORTHERN AFRICA,273008,266000,"1,0","0,42",NaN,NaN,NaN,NaN,NaN,"0,02",0,"99,98",1,NaN,NaN,NaN,NaN,"0,4"
224,Yemen,NEAR EAST,21456188,527970,"40,6","0,36",0,"61,5",800.0,"50,2","37,2","2,78","0,24","96,98",1,"42,89","8,3","0,135","0,472","0,393"
225,Zambia,SUB-SAHARAN AFRICA,11502010,752614,"15,3","0,00",0,"88,29",800.0,"80,6","8,2","7,08","0,03","92,9",2,41,"19,93","0,22","0,29","0,489"
226,Zimbabwe,SUB-SAHARAN AFRICA,12236805,390580,"31,3","0,00",0,"67,69",1900.0,"90,7","26,8","8,32","0,34","91,34",2,"28,01","21,84","0,179","0,243","0,579"

In [11]:
world['climate'].unique()#View the unique elements in the column 'climate'

array(['1', '3', '2', nan, '4', '1,5', '2,5'], dtype=object)

In [12]:
world['climate'].nunique()#View the number of unique elements in the column 'region'

6

In [13]:
world.info()#Info about the column names, their data types and non-null values

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 227 entries, 0 to 226
Data columns (total 20 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   country                           227 non-null    object
 1   region                            227 non-null    object
 2   population                        227 non-null    int64
 3   area_sq_mi                        227 non-null    int64
 4   pop_density_per_sq_mi             227 non-null    object
 5   coastline_coastarea_ratio         227 non-null    object
 6   net_migration                     224 non-null    object
 7   infant_mortality_per_1000_births  224 non-null    object
 8   gdp_$_per_capita                  226 non-null    float64
 9   literacy                          209 non-null    object
 10  phones_per_1000                   223 non-null    object
 11  arable                            225 non-null    object
 12  crops                             225 non-null    object
 13  other                             225 non-null    object
 14  climate                           205 non-null    object
 15  birthrate                         224 non-null    object
 16  deathrate                         223 non-null    object
 17  agriculture                       212 non-null    object
 18  industry                          211 non-null    object
 19  service                           212 non-null    object
dtypes: float64(1), int64(2), object(17)
memory usage: 35.6+ KB

In [14]:
world.describe()#Summary Statistics

         population    area_sq_mi  gdp_$_per_capita
count  2.270000e+02  2.270000e+02        226.000000
mean   2.874028e+07  5.982270e+05       9689.823009
std    1.178913e+08  1.790282e+06      10049.138513
min    7.026000e+03  2.000000e+00        500.000000
25%    4.376240e+05  4.647500e+03       1900.000000
50%    4.786994e+06  8.660000e+04       5550.000000
75%    1.749777e+07  4.418110e+05      15700.000000
max    1.313974e+09  1.707520e+07      55100.000000

## Task 3: Data Cleaning

Removing "," in the column values with "."

Converting objects into float types

In [15]:
#extract all the column names whose values have ',' in them
str_columns = ['pop_density_per_sq_mi', 'coastline_coastarea_ratio', 'net_migration',
       'infant_mortality_per_1000_births', 'literacy',
       'phones_per_1000', 'arable', 'crops', 'other', 'climate', 'birthrate',
       'deathrate', 'agriculture', 'industry', 'service']

In [16]:
for column in str_columns:
    world[column] = world[column].str.replace(',', '.')
    world[column] = pd.to_numeric(world[column])

In [17]:
world.columns

Index(['country', 'region', 'population', 'area_sq_mi',
       'pop_density_per_sq_mi', 'coastline_coastarea_ratio', 'net_migration',
       'infant_mortality_per_1000_births', 'gdp_$_per_capita', 'literacy',
       'phones_per_1000', 'arable', 'crops', 'other', 'climate', 'birthrate',
       'deathrate', 'agriculture', 'industry', 'service'],
      dtype='object')

In [18]:
world.head(5)

,country,region,population,area_sq_mi,pop_density_per_sq_mi,coastline_coastarea_ratio,net_migration,infant_mortality_per_1000_births,gdp_$_per_capita,literacy,phones_per_1000,arable,crops,other,climate,birthrate,deathrate,agriculture,industry,service
0,Afghanistan,ASIA (EX. NEAR EAST),31056997,647500,48.0,0.00,23.06,163.07,700.0,36.0,3.2,12.13,0.22,87.65,1.0,46.60,20.34,0.380,0.240,0.380
1,Albania,EASTERN EUROPE,3581655,28748,124.6,1.26,-4.93,21.52,4500.0,86.5,71.2,21.09,4.42,74.49,3.0,15.11,5.22,0.232,0.188,0.579
2,Algeria,NORTHERN AFRICA,32930091,2381740,13.8,0.04,-0.39,31.00,6000.0,70.0,78.1,3.22,0.25,96.53,1.0,17.14,4.61,0.101,0.600,0.298
3,American Samoa,OCEANIA,57794,199,290.4,58.29,-20.71,9.27,8000.0,97.0,259.5,10.00,15.00,75.00,2.0,22.46,3.27,NaN,NaN,NaN
4,Andorra,WESTERN EUROPE,71201,468,152.1,0.00,6.60,4.05,19000.0,100.0,497.2,2.22,0.00,97.78,3.0,8.71,6.25,NaN,NaN,NaN

Fill the missing values

In [19]:
world.isnull().sum()

country                              0
region                               0
population                           0
area_sq_mi                           0
pop_density_per_sq_mi                0
coastline_coastarea_ratio            0
net_migration                        3
infant_mortality_per_1000_births     3
gdp_$_per_capita                     1
literacy                            18
phones_per_1000                      4
arable                               2
crops                                2
other                                2
climate                             22
birthrate                            3
deathrate                            4
agriculture                         15
industry                            16
service                             15
dtype: int64